:root{
    --cr-fondo-color: rgb(24,28, 48);
    --cr-crem_beige-color: rgb(230, 221, 196);
    --cr-somYTit_verde_color: rgb(103, 137, 131);/*(Este mismo color es el utilizado en el contorno de los botones de las cards,
    del video, la botonera de inicio y titulos )*/
    --cr-recuadro-gris_color: rgb(128, 128, 128);/*este color se repite en sombras de tirulo*/
    --cr-logo-az-color: rgb(73, 85, 121);
    --cr-logo-cr-color: rgb(240, 233, 210);
    --cr-texto-color: rgb(230, 211, 196);
    --cr-titPrin-color: rgb(238, 238, 238);
    --cr-sombTitPrin-neg-color: rgb(0, 0, 0);
}

.logoTitle{
    width: 10px !important;
}

* {
    font-family: 'Monserrat', sans-serif;
    margin: 0px;
    padding: 0%;
}

body{
    background-color: var(--cr-fondo-color);
    display: grid;
}

/* espacio Nav*/
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 40px;
}

.compu {
    height: 80px;
    margin: 10px;
}

.fondoCrema {
    transition: all 0.;
}

svg {
    overflow: hidden;
}

.vinculos {
    display: flex;
    justify-content: space-between;
    
}

.menu {
    box-shadow: 2px 3px var(--cr-somYTit_verde_color);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:var(--cr-crem_beige-color);
    color: var(--cr-fondo-color);
    font-weight: 300;
    margin: 0 20px;
    
}

/* fin de espacio Nav */
/* estilos header */

header{
    background-image: url(./imagenes/codigo.jpg);
    background-size:contain;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    color: var(--cr-titPrin-color);
    font-size: 3em;
}
/* fin de header */
/* principio de main tarjetas */
.historias {
   width: auto;/* agregar ancho */
    /* agregar altura */
    padding:40px;
    display: grid;
    grid-template-areas: 'tituTex1 tituTex1 txt1'
                            'txt2 tituTex2 tituTex2' 
                            'tituTex3  txt3 txt3';
    
    gap: 50px;    
    
}

.tituTex1, .tituTex2, .tituTex3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt1, .txt2, .txt3 {
   color: var(--cr-crem_beige-color); 
}

.tituTex2{
    grid-area: tituTex2;
}

.tituTex1 {
    grid-area: tituTex1 ;
}

.tituTex3 {
    grid-area: tituTex3;
}


.txt1 {
    padding: 10px;
    grid-area: txt1;
}

.txt2 {
    grid-area: txt2;
    }

.txt3 {
    grid-area: txt3;
}

h2 {
    padding: 10px;
    color: var(--cr-somYTit_verde_color);
    text-align: center;
    font-size: 40px;
}

span {
    padding: 30px;
}

.tarjetas{
    padding: 100px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


article{
    width: 350px;
    height: 400px;
    background-color: var(--cr-texto-color);
    border: 5px solid var(--cr-somYTit_verde_color);
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.imgCard{
    width: 100%;

}

article p, a {
    text-align: center;
}

.tarjeta {
    padding: 10px;
    border-radius: 10px;
    background-color: #181D31;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #678983;
    text-align: center;
    text-decoration: none;
    /* width: 40%; */
    margin-bottom: 20px;
    color: var(--cr-titPrin-color);
}


/* fin del main  */
footer{
    background-color: var(--cr-somYTit_verde_color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 40px;
    margin: 0 20px;
}

.footerIZ {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

footer img{
    height: 80px;
}
h3 {
    font-size: 14px;
}

.footerDer {
    padding: 20px;
    flex-direction: column;
    align-items: center;
}