<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <nav>
        <a href="./home.html">
            <section class="pantalla cuadro">
            <div class="recuadroIn colorCuadro"></div>
            </section>
            <section class="teclado cuadro">
            <div class="tecladoIn colorCuadro"></div>
            </section>
        </a>
        <section class="vinculos">
            <button class="menu">Historia</button>
            <button class="menu">Jugemos</button>
        </section>
    </nav>
    <header>
        <h1>PROGRAMACION E HISTORIA</h1>
    </header>
    <main>
        <h2>CONTENIDO</h2>
        <article class="historia">
            <img class="imgCard" src="../imagenes/img1.jpg" alt="">
            <p>Conozcamos Un poco sobre la historia de la programacion</p>
            <a href="./historia.html">
                <button class="tarjeta">Ir a Historia</button>
            </a>
        </article>
        <article class="juego">
            <img class="imgCard" src="../imagenes/img2.jpg" alt="">
            <p>Juguemos un poco sobre la computacion</p>
            <a href="./juego.html">
                <button class="tarjeta">Ir a Juego</button>
            </a>
        </article>
    </main>
    <fieldset></fieldset>
    <footer>
        <img src="../imagenes/logo.png" alt="">
        <h3>PROGRAMACION E HISTORIA</h3>
        <h4>Sitio con fines educativos -Creado por M Victoria Lopéz con adaptacion para formacion de Sergio N. Alegre</h4>
    </footer>
    <script src="../script.js"></script>
</body>
</html>