<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <nav>
        <a href="./home.html">
            <div class="compu">
                <svg>
                    <rect x="30" y="10" width="62px" height="37px" fill="#F0E9D2" rx="7.5">
                    </rect>
                    <rect x="35" y="13" width="52px" height="30px" fill="#495579" ry="7">
                </rect> 
                    <polygon points="37 50,28 75,92 75, 83 50" fill="#F0E9D2" ></polygon>
                    <polygon points="39 52,33 72,87 72, 82 52" fill="#495579" ></polygon>
                </svg> 
            </div>
        </a>
        <section class="vinculos">
            <a href="./historia.html">
                <button class="menu">Historia</button>
            </a>
            <a href="./juego.html">
                <button class="menu">Jugemos</button>
            </a>
        </section>
    </nav>
    <header>
        <h1>PROGRAMACION E HISTORIA</h1>
    </header>
    <main>
        <h2>CONTENIDO</h2>
        <span class="tarjetas">
            <article class="historia">
                <img class="imgCard" src="../imagenes/img1.jpg" alt="">
                <p>Conozcamos Un poco sobre la historia de la programacion</p>
                <a href="./historia.html">
                    <button class="tarjeta">Ir a Historia</button>
                </a>
            </article>
            <article class="juego">
                <img class="imgCard" src="../imagenes/img2.jpg" alt="">
                <p>Juguemos un poco sobre la computacion</p>
                <a href="./juego.html">
                    <button class="tarjeta"> 
                        Ir a Juego
                    </button>
                </a>
            </article>
        </span>
    </main>
    <footer>
        <section class="footerIZ">
        <img src="../imagenes/logo.png" alt="logo">
        <h3>PROGRAMACION E HISTORIA</h3>
        </section>
        <section class="footerDer">
            <h4>Sitio con fines educativos -Creado por M Victoria Lopéz</h4>
            <h5>Con adaptacion para formacion de Sergio N. Alegre</h5> 
        </section>
        
    </footer>
    <script src="../script.js"></script>
</body>
</html>